@media screen and (max-width:435px){
	
	/*-----drawer-manu start----*/
	.sidenav {
		display:inline-block;
		height:99%;
		width: 0;
		position: fixed;
		z-index:1;
		top:0;
		right: 0;
		background-color:white;
		overflow-x: hidden;
		padding-top: 60px;
		transition: 0.3s;
		border-radius:7px;
		box-shadow:0px 5px 25px 0px rgba(110,110,110,0.3);
	}
	
	.sidenav form{
		display:flex;
		align-items:center;
		justify-content:center;
		margin-top:20px;
	}
	.sidenav form input[type="text"]{
		border:1.5px solid #ddd;
		outline:none;
		padding:8px 10px;
		width:75%;
		transition:0.3s;
		font-size:20px;
	}
	.sidenav form input[type="text"]:focus{
		border:2.5px solid black;
	}
	.search-icon{
		display:flex;
		align-items:center;
		background-color:black;
		padding:8.5px;
	}
	.search-icon img{
		width:25px;
		filter:invert(100%);
	}
	
	.sidenav a{
		padding: 1rem;
		font-size: 1rem;
		color: #818181;
		display:block;
		transition: 0.3s;
		text-transform:uppercase;
		width:60%;
		margin:auto;
	}
	.sidenav a:not(.sidenav a:first-child){
		text-align:center;
	}
	.sidenav a:hover {
		color: #0e0e0e;
	}
	.sidenav .closebtn {
		position: absolute;
		top: 23px;
		right:23px;
		padding:0;
		display:flex;
		align-items:center;
		width:1.8rem;
		border:none;
	}
	.sidenav .closebtn img{
		width:1.8rem;
	}
	.sidenav .follow{
		text-align:center;
		margin-top:20px;
	}
	.sidenav .follow ul{
		display:inline-flex;
		margin:auto;
	}
	/*-----drawer end-----*/
	
	.container{
		margin:auto;
	}
	
	/*-----header-----*/
	header{
		margin-top:5px;
	}
	/*-----nav-----*/
	.nav{
		display:none;
	}
	
	/*----small nav----*/
	.sm-nav{
		display:flex;
		display:flex;
		align-items:center;
		justify-content:space-between ;
		width:100%;
	}
	.follow ul li{
		margin-left:4px;
	}
	.follow ul li a img{
		width:20px;
	}
	.drawer{
		display:flex;
		align-items:center;
		justify-content:center;
	}
	.drawer img{
		width:25px;
	}

	/*-----section-1----*/
	.section-1{
		background-image:url(img/banner-food.jpg);
		background-size:cover;
		background-position:center;
		height:350px;
		width:100%;
		position:relative;
		margin-top:50px;
	}
	.branding{
		padding:8px 15px;
		position:relative;
		transform: scale(0.6);
		top:-35px;
		border:5px solid #000;
	}
	.branding h1{
		font-size:30px;
		letter-spacing:3px;
	}
	.section-1 .container form{
		display:none;
	}
	
	/*-----blog section-----*/
	.blog-section{
		margin-top:50px;
	}
	.blog-title{
		font-size:1.5rem;
		letter-spacing:2px;
	}
	.blog{
		width:100%;
		margin-top:25px;
		display:inline-block;
	}
	.blog-desc{
		margin:auto;
		padding:0 10px;
	}
	.blog img{
		width:100%;
	}
	.author img{
		width:2.6rem;
	}
	.author-info{
		margin-left:0.5rem;
	}
	.author-info p{
		font-size:0.8rem;
		color:#787878;
	}
	.blog-description{
		margin-top:15px;
	}
	.blog-description h2{
		font-size:1.5rem;
	}
	.blog-description p{
		font-size:1rem;
		text-transform:capitalize;
	}
	.ratings{
		width:90%;
		position:static;
		margin-top:50px;
	}
	.views p,.rate p{
		font-size:1rem;
	}
	.rate img{
		width:16px;
	}
	
	/*-----all blogs section----*/
	.all-blogs{
		margin-top:25px;
		text-align:center;
	}
	.all-blogs-btn-container{
		width:95%;
		margin:auto;
		text-align:center;
	}
	.all-blogs-btn-container button{
		padding:10px 0;
		width:100%;
		font-size:1.5rem;
		background-color:black;
		color:white;
		text-transform:uppercase;
		border:none;
	}
	.all-blogs .container{
		display:inline-block;
		margin:auto;
		margin-top:10px;
	}
	.blogs{
		width:100%;
		display:inline-block;
	}
	.blogs img{
		width:100%;
	}
	.blogs-desc{
		padding:0 8px;
		margin-left:0;
	}
	.blogs-desc h1{
		font-size:1.5rem;
		text-transform:uppercase;
		margin-top:10px;
	}
	.blank{
		width:2rem;
		height:0.4rem;
		margin-top:25px;
		background-color:black;
	}
	.about-me{
		margin-top:20px;
		margin-bottom:15px;
	}
	.about-me a{
		font-size:18px;
		color:black;
		text-transform:capitalize;
	}
	.availability{
		font-size:18px;
		margin-bottom:5px;
		margin-top:10px;
		font-weight:bold;
	}
	.blogs-desc ul li{
		padding:2px 0;
		font-size:18px;
		text-transform:capitalize;
	}
	.blogs-desc ul{
		margin-bottom:10px;
	}
	
	/*-----newsletter-----*/
	/*-----newsletter----*/
	.newsletter{
		margin-top:50px;
		text-align:center;
	}
	.newsletter .container{
		display:inline-block;
	}
	.news-desc{
		width:100%;
		margin:0 auto;
	}
	.news-desc h1{
		font-size:1.8rem;
		text-transform:uppercase;
		text-align:center;
	}
	.news-desc .follow{
		display:none;
	}
	.news-desc .blank{
		margin:auto;
		width:3rem;
		background-color:black;
		height:0.4rem;
		margin-top:10px;
	}
	.newsletter-form{
		width:100%;
		margin-top:40px;
	}
	.newsletter-form form{
		display:inline-block;
	}
	.newsletter-form form input{
		padding:10px;
		font-size:1.1rem;
		width:100%;
		outline:none;
	}
	.newsletter-form form button{
	padding:10px 0 ;
	font-size:1.2rem;
	width:100%;
	background-color:black;
	color:white;
	border:2.5px solid black;
	margin-top:5px;
	transition:0.3s;
	text-transform:uppercase;
	}
	.newsletter-form form button:hover{
		background-color:white;
		color:black;
	}
	
	/*-----footer----*/
	footer{
		margin-top:20px;
	}
	.copyright p{
		font-size:0.7rem;
		color:#383838;
		padding:15px 0;
	}
	
}